# ----------------------------------------------------------------------
# 1. Elementos Obvios
# ----------------------------------------------------------------------
**/node_modules
**/venv
**/__pycache__
.git                          # Directorio de control de versiones
.gitignore
.dockerignore
README.md                     # Documentación que no es necesaria en el contenedor

# ----------------------------------------------------------------------
# 2. Archivos Sensibles y de Configuración Local
# ----------------------------------------------------------------------
.env                          # ¡CRÍTICO! Nunca incluyas secretos en la imagen
# (Si tu telegraf.conf usa variables del .env, asegúrate de pasarlas como
# ENVIRONMENT variables en docker-compose, no de incluirlas en la imagen)

# ----------------------------------------------------------------------
# 3. Archivos del Entorno de Desarrollo
# ----------------------------------------------------------------------
.vscode/
Thumbs.db