version: '3.8'

services:
  # Servicio 1: El servidor Prometheus
  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus
    ports:
      - "9090:9090" # Puerto para acceder a la UI de Prometheus
    volumes:
      # Monta el archivo de config que creamos en el Paso 1
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      # Crea un volumen para que los datos de Prometheus persistan
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  # Servicio 2: El exporter cAdvisor
  cadvisor:
    # image: gcr.io/google-containers/cadvisor:latest
    image: gcr.io/cadvisor/cadvisor-amd64@sha256:2981fb05889903af160f67c3b26066ca063229a50f956fc62c9952b0299fc9c7
    # image: gcr.io/cadvisor/cadvisor-amd64@sha256:9dc0f17c2ddfd54276de8e3d8a31c63391ebbcbb97ef8dd57eb5891f95378349
    container_name: cadvisor
    ports:
      - "8080:8080" # Puerto para acceder a la UI de cAdvisor (opcional)
    volumes:
      # Necesita acceso a estos directorios del HOST para leer las métricas
      # - /:/rootfs:ro
      # - /var/run:/var/run:ro
      # - /sys:/sys:ro
      # - /var/lib/docker/:/var/lib/docker:ro
      # - /dev/disk/:/dev/disk:ro
      #----------------------------------------
      # 1. EL MÁS CRÍTICO: El socket de Docker.
      #    Docker Desktop sabe cómo mapear este path correctamente.
      # - /var/run/docker.sock:/var/run/docker.sock:ro
      
      # # 2. Para métricas de cgroups (CPU/Memoria)
      # - /sys:/sys:ro

      # # 3. Para métricas de almacenamiento de Docker (imágenes, volúmenes)
      # - /var/lib/docker/:/var/lib/docker:ro

      # 4. ELIMINAMOS los montajes problemáticos como '/' y '/dev/disk'
      #    que no funcionan de forma fiable en el contexto de WSL2.

      # -----------------------------------------
      # - /:/rootfs:ro
      # - /var/run/docker.sock:/var/run/docker.sock        # <--- esencial: hablar con el daemon
      # - /var/run:/var/run:ro
      # - /sys:/sys:ro
      # - /sys/fs/cgroup:/sys/fs/cgroup:ro
      # - /var/lib/docker/:/var/lib/docker:ro
      # -----------------------------------------

      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true # Necesario para acceder a las estadísticas del host
    depends_on:
      - prometheus # (Opcional) Ayuda a definir el orden de arranque

volumes:
  prometheus_data: # Define el volumen persistente